---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

interface Props {
    projectPost: CollectionEntry<"projects">;
}

const { projectPost } = Astro.props as Props;

const { title, description, pubDate, githubLink} = projectPost.data;

const url = `/projects/${projectPost.slug}/`;

const dotw = pubDate.toLocaleDateString("default", { weekday: "short" }); // Day of The Week
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const year = pubDate.getFullYear();
---
<main style={`view-transition-name: card-${projectPost.slug}`} class="w-full transition hover:shadow-md backdrop-blur-lg dark:bg-[#1d1d1d] bg-[#e9e9e9bf] rounded-xl px-3 py-2">
<div class="flex flex-col space-y-2 lg:flex-row lg:justify-between">
        <div class="flex flex-col justify-between space-y-1 sm:space-y-2 lg:w-9/12 text-LM-Title dark:text-DM-Title transition-all ease-linear">
            <div class="flex flex-row space-x-3 md:space-x-5 align-middle items-center">
                <h class="font-title text-[20px] md:text-[25px] font-normal tracking-[-.05rem]"> <a class="hover:underline underline-offset-2 hover:text-LM-Nav-Unselected dark:hover:text-DM-Nav-Selected" href={url}> {title} </a> </h>
                <a href={githubLink}><Icon class="hover:motion-safe:scale-105 transform-gpu ease-in-out transition-transform hover:shadow-md rounded-full" name="github" size={20} /></a>
            </div>
           <p class="font-title text-[12px] md:text-[14px] w-full text-LM-Para dark:text-DM-Para transition-all ease-linear"> {description.toString()} </p>
        </div>
        <span class="font-sans uppercase text-[11px] md:text-[12px] tracking-[-0.02rem] font-medium text-LM-Title dark:text-DM-Title transition-all ease-linear"> {`${dotw}, ${date} ${month} ${year}`} </span>
    </div>
</main>
