---
import { Icon } from "astro-icon/components";

import type { CollectionEntry } from "astro:content";

interface Props {
    projectPost: CollectionEntry<"projects">;
}

const { projectPost } = Astro.props as Props;

const { title, description, pubDate } = projectPost.data;

const url = `/projects/${projectPost.slug}/`;

const dotw = pubDate.toLocaleDateString("default", { weekday: "short" }); // Day of The Week
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const year = pubDate.getFullYear();
---

<div class="flex flex-col space-y-2 md:space-y-4 dark:bg-[#33333340] bg-[#DDDDDD23] dark:border-DM-Title-Bar border-LM-Title-Bar border-2 fill-none rounded-xl px-2 py-1 md:dark:bg-[#33333340] md:bg-[#DDDDDD23] md:dark:border-DM-Title-Bar md:border-LM-Title-Bar md:border-4 md:rounded-2xl md:px-4 md:py-2">
    <div class="flex flex-col space-y-2 sm:space-y-0 md:flex-row md:space-x-8 items-start md:items-center">
        <h class="font-title text-[20px] md:text-[25px] font-medium text-LM-Title dark:text-DM-Title tracking-[-.05rem]"> <a class="hover:underline underline-offset-2 hover:text-LM-Nav-Unselected dark:hover:text-DM-Nav-Selected" href={url}> {title} </a> </h>
    </div>
    <p class="font-title text-base text-LM-Para w-full lg:w-9/12 dark:text-DM-Para"> {description.toString()} </p>
    <div class="mt-1 flex flex-row items-center">
        <span class="font-sans uppercase text-[13px] tracking-[-0.02rem] font-medium text-LM-Title dark:text-DM-Title"> {`${dotw}, ${date} ${month} ${year}`} </span>
    </div>
</div>

<style>
    @media (max-width: 640px) {
    .hidden-mobile {
      display: none;
    }
  }
</style>