---
import { Image } from "astro:assets";

interface Props{
    title: string;
    url: ImageMetadata;
    pubDate: Date;
    description: string;
}

const month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
const { title, url, pubDate, description } = Astro.props as Props;
---
<main class="dark:bg-[#212121] bg-[#e9e9e92f] p-3 rounded-2xl hover:shadow-md backdrop-blur-lg transition">
    <div class="space-y-4 w-full flex flex-col md:items-start md:flex-row md:space-x-8">
        <Image class="md:w-[200px] rounded-lg" src={url} alt={title}></Image>
        <div class="flex flex-col items-center md:items-start font-sans text-LM-Title dark:text-DM-Title transition-all ease-linear">
            <h1 class="md:text-[24px] text-[22px] uppercase">{title}</h1>
            <span class="md:text-[12px] text-[10px] font-title">{`${pubDate.getDate()} ${month[pubDate.getMonth()]} ${pubDate.getFullYear()}`}</span>
            <p class="md:text-[12px] text-[10px] font-para pt-3">{description}</p>
        </div>
    </div>
</main>
