---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props{
    title: string;
    href: ImageMetadata;
    pubDate: Date;
    description: string;
}

const month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
const { title, href, pubDate, description } = Astro.props as Props;
---
<main class="bg-LM-Title-Bar dark:bg-DM-Title-Bar p-3 rounded-2xl hover:shadow-md backdrop-blur-lg transition">
    <div class="space-y-4 w-full flex flex-col md:items-start md:flex-row md:space-x-8">
        <Image class="md:w-[200px] rounded-lg" src={href} alt={title}></Image>
        <div class="flex flex-col items-start md:items-start font-sans text-LM-Title dark:text-DM-Title transition-all ease-linear">
            <h1 class="md:text-[24px] text-[22px] uppercase">{title}</h1>
            <span class="md:text-[12px] text-[10px] font-title">{`${pubDate.getDate()} ${month[pubDate.getMonth()]} ${pubDate.getFullYear()}`}</span>
            <div class="flex flex-col -space-y-1 md:-space-y-2 md:mt-2 mt-2">
                <Icon name={'quotes'} size={15}></Icon>
                <p class="md:text-[12px] text-[12px] font-para italic md:pt-3 pt-1">{description}</p>
            </div>
        </div>
    </div>
</main>
