---
import BaseLayout from "../baselayout.astro";

import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

import "@fontsource-variable/jetbrains-mono";

import type { CollectionEntry } from "astro:content";
import type { Crumb } from "../../utils/types.ts";
import Prose from "../../components/Prose.astro";
import "../../styles/styles.css";

interface Props {
  frontmatter: CollectionEntry<"blogs">;
  slug: string;
}

const { frontmatter, slug } = Astro.props as Props;

const { title, tags, description, banner, pubDate } = frontmatter.data;

const weekDay = pubDate.toLocaleDateString("default", { weekday: "short" });
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const fullYear = pubDate.getFullYear();

const pageTitle = `blogs / ${title.toLowerCase()}`;
const current = "blogs";
const breadcrumbs: Array<Crumb> = [
    { title: "BLOGS", href: "/blogs/" },
    { title: title, href: `/blogs/${slug}/` },
]
---
<BaseLayout title={pageTitle} {current} {breadcrumbs}>
  <div class="flex flex-col md:space-y-10 space-y-6 w-full xl:px-24 mb-3 md:mb-5">
    <div class="flex flex-col items-start">   
      {
        banner && (
          <div class="mb-10 bg-[#000000] rounded-2xl shadow-md hover:shadow-2xl transition-all ease-linear w-full flex justify-center">
            <Image
                class="rounded-2xl"
                src={banner.url}
                alt={banner.alt}
            /></div>
        )
    }
      <h1 class="font-title md:text-[36px] text-[27px] font-[400] tracking-[-0.8px]"> {title} </h1>
      <div class="flex flex-col space-y-3 items-start">
        <p class="font-sans md:text-[16px] text-[14px] mt-3 font-normal tracking-[-0.2px]">
          {`${weekDay}, ${date} ${month} ${fullYear}`}
        </p>
        <p class="font-sans md:text-[17px] text-[14px] flex w-full md:w-auto font-normal tracking-[-0.2px] text-LM-Para dark:text-DM-Para transition-all ease-linear" > {description} </p>
        <ul class="flex flex-row items-center space-x-2 md:space-y-0 md:flex md:flex-row md:space-x-2 md:items-center font-title text-[14px] tracking[-0.4px] text-LM-Para dark:text-DM-Para">
          { tags.map((tag, idx) => (
            <>
              <li>
                <a class="hover:text-LM-Nav-Unselected dark:hover:text-DM-Nav-Selected transition-all ease-linear" href={`/blogs/tags/${tag}/`}> {tag} </a>
              </li>
              {idx < tags.length - 1 && ( <Icon name="dot" size={8} class="text-LM-Nav-Unselected dark:text-DM-Nav-Selected transition-all ease-linear"/> )}
            </>
          )) }
        </ul>
      </div>
    </div>
    <hr class="border-LM-Secondary dark:border-DM-Secondary border-[1px] opacity-[0.36] rounded-sm -mx-[15px] transition"/>
    <Prose>
      <slot/>
    </Prose>
  </div>
</BaseLayout>
