---
import BaseLayout from "../baselayout.astro";
import Prose from "../../components/Prose.astro"

import { Icon } from "astro-icon/components";

import "@fontsource-variable/jetbrains-mono";

import type { CollectionEntry } from "astro:content";
import type { Crumb } from "../../utils/types";

interface Props {
  frontmatter: CollectionEntry<"blogs">;
  slug: string;
}

const { frontmatter, slug } = Astro.props as Props;

const { title, tags, description, banner, pubDate } = frontmatter.data;

const weekDay = pubDate.toLocaleDateString("default", { weekday: "short" });
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const fullYear = pubDate.getFullYear();

const pageTitle = `blogs / ${title}`;
const current = "blogs";
const breadcrumbs: Array<Crumb> = [
    { title: "BLOGS", href: "/blogs/" },
    { title: title, href: `/blogs/${slug}/` },
]
---
<BaseLayout title={pageTitle} {current} {breadcrumbs}>
  <div class="flex flex-col md:space-y-20 space-y-12 w-full xl:px-24">
    <div class="flex flex-col items-start">   
      <h1 class="font-title md:text-[36px] text-[27px] text-LM-Title dark:text-DM-Title font-[400] tracking-[-0.8px]"> {title} </h1>
      <div class="flex flex-col space-y-5 items-start">
        <p class="font-sans md:text-[16px] text-[14px] mt-3 font-normal tracking-[-0.8px] text-LM-Para dark:text-DM-Para">
          {`${weekDay}, ${date} ${month} ${fullYear}`}
        </p>
        <p class="font-sans md:text-[18px] text-[16px] flex w-full md:w-auto font-normal tracking-[-0.2px] text-LM-Para dark:text-DM-Para" > {description} </p>
        <ul class="flex flex-row space-x-0 items-start md:space-y-0 md:flex md:flex-row md:space-x-1 md:items-center font-sans md:text-[14px] text-[14px] tracking[-0.4px] text-LM-Para dark:text-DM-Para">
          { tags.map((tag, idx) => (
            <>
              <li>
                <a class="hover:text-LM-Nav-Unselected dark:hover:text-DM-Nav-Selected" href="#"> {tag} </a>
              </li>
              {idx < tags.length - 1 && ( <Icon name="dot" size={20} class="text-LM-Nav-Unselected dark:text-DM-Nav-Selected"/> )}
            </>
          )) }
        </ul>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
  </div>
</BaseLayout>
