---
import BaseLayout from "../layouts/baselayout.astro";
import "@fontsource-variable/playfair-display";

import { Image } from "astro:assets";

import moon from "../imgs/blogs/moon.png";
import yash from "../imgs/home/yash1.png"
import jupiter from "../imgs/blogs/jupiter.png";
import diamond from "../imgs/home/diamond.png";
import moon_sq from "../imgs/home/moon.png";
import percentage from "../imgs/home/percentage.png";
import roundedcube from "../imgs/home/roundedcube.png";
import thevoid from "../imgs/home/thevoid.png";

---

<BaseLayout title="yash sharma's homepage">
  <main class="flex flex-col space-y-3 mb-8 md:space-y-14">
    <div class="flex flex-col font-home items-between space-y-8 sm:flex sm:flex-col md:w-full xl:space-y-0 xl:flex xl:flex-row xl:w-full xl:justify-between xl:items-center">
      <p class="left text-[33px] font-normal tracking-tight text-LM-Title dark:text-DM-Title xl:text-[40px]">
        Hey, I am <br/>
        Yash Sharma.
      </p>
      <p class="right text-[24px] font-normal text-LM-Para dark:text-DM-Para xl:text-[35px]">
        I am currently in university as a <span1 class="italic">sophomore</span1> studying 
        <br/>
        <span class="text-LM-Title dark:text-DM-Title">
          Mechanical Engineering
        </span>
      </p>
    </div>

    <!-- Carousel -->
    <div class="carousel mx-[90px]">
      <div class="hidden carousel-item bg-LM-Title rounded-2xl mx-3 items-center space-x-5 md:w-full md:flex md:justify-center">
        <Image class="rounded-xl w-auto md:h-[400px] xl:h-[400px]" src={yash} alt="Moon"/>
      </div>
      <div class="hidden carousel-item bg-LM-Title rounded-2xl mx-3 items-center space-x-5 md:w-full md:flex md:justify-center">
        <Image class="rounded-xl w-auto md:h-[400px] xl:h-[400px]" src={moon} alt="Moon"/>
      </div>
      <div class="hidden carousel-item bg-LM-Title rounded-2xl mx-3 items-center space-x-5 md:w-full md:flex md:justify-center">
        <Image class="rounded-xl w-auto md:h-[400px] xl:h-[400px]" src={thevoid} alt="Moon"/>
      </div>
      <div class="hidden carousel-item bg-LM-Title rounded-2xl mx-3 items-center space-x-5 md:w-full md:flex md:justify-center">
        <Image class="rounded-xl w-auto md:h-[400px] xl:h-[400px]" src={jupiter} alt="Moon"/>
      </div>
    </div>

    <!-- mobile display img -->
    <div class="md:hidden carousel space-x-2">
      <Image class="carousel-item rounded-xl" src={moon_sq} height={1050} width={1050} alt="Display Item Mobile" />
      <Image class="carousel-item rounded-xl" src={diamond} height={1050} width={1050} alt="Display Item Mobile" />
      <Image class="carousel-item rounded-xl" src={thevoid} height={1050} width={1050} alt="Display Item Mobile" />
      <Image class="carousel-item rounded-xl" src={percentage} height={1050} width={1050} alt="Display Item Mobile" />
      <Image class="carousel-item rounded-xl" src={roundedcube} height={1050} width={1050} alt="Display Item Mobile" />
    </div>
  </main>
</BaseLayout>