---
import BaseLayout from "../layouts/baselayout.astro";
import "@fontsource-variable/playfair-display";

import type { Crumb } from "../utils/types";
import { Image } from "astro:assets";

import vortex from "../imgs/home/vortex.png";
import moon_lens from "../imgs/home/moonnlens.png";
import diamond from "../imgs/home/diamond.png";

const title = "homepage";
const current = "home";
const breadcrumbs: Array<Crumb> = [{ title: "HOME", href: "/" }];
---

<BaseLayout title={title} current={current} breadcrumbs={breadcrumbs}>
  <main class="flex flex-col space-y-10 mb-5 md:mb-1 md:space-y-12">
    <div class="flex flex-col font-home items-between space-y-5 lg:flex lg:flex-row lg:space-y-0  lg:justify-between lg:items-center">
      <p class="left text-[33px] font-normal tracking-tight xl:text-[40px]"> Hey, I am <br/> <span class='text-[]'>Yash Sharma</span>. </p>
      <p class="right text-[24px] font-normal transition ease-linear text-LM-Para dark:text-DM-Para xl:text-[35px]"> I am currently a <span1 class="italic">sophomore</span1> in a university studying  <br/> <span class="text-LM-Title dark:text-DM-Title transition ease-linear"> Mechanical Engineering </span> </p>
    </div>
    <div class='hidden lg:grid lg:grid-cols-3 lg:gap-2 lg:dark:bg-DM-Title-Bar lg:bg-LM-Title-Bar p-2 rounded-xl'>
        <Image class="rounded-xl w-full invert dark:blend" src={diamond} alt="The Void" loading="eager"/>
        <Image class="rounded-xl w-full" src={vortex} alt="The Void" loading="eager"/>
        <Image class="rounded-xl w-full" src={moon_lens} alt="The Void" loading="eager"/>
    </div>

    <!-- mobile display img -->
    <div class="lg:hidden carousel space-x-2">
        <Image class="rounded-xl w-full invert dark:blend" src={diamond} alt="The Void"/>
    </div>
  </main>
</BaseLayout>
