---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
// Supports weights 400-900
import "@fontsource-variable/comfortaa"
import "@fontsource-variable/playfair-display"
import "@fontsource/ibm-plex-sans-hebrew"
import { Image } from "astro:assets";
import display_img from "../imgs/example.png";
import display_img_mobile from "../imgs/display_img_mobile.svg";
import leftSlider from "../imgs/left_slider.svg";
import rightSlider from "../imgs/right_slider.svg";
---

<html lang="en" class="bg-[#EEEEEE] scroll-smooth antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="y.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>yash</title>
  </head>
  <body>
    <Nav />
    <main class="flex flex-col items-center justify-start mx-8 my-11 md:flex md:flex-col md:items-center md:justify-start md:mx-[120px] md:my-[84px]">
      <div class="flex flex-col items-between space-y-8 md:flex md:flex-row md:w-full md:justify-between md:items-center">
        <p class="text-[30px] md:text-[45px] left">
          Hey, I am <br />
          Yash Sharma.
        </p>

        <p class="text-[27px] md:text-[35px] right"> I am currently in university as a <span1 class="text-[27px] md:text-[35px]">sophomore</span1> studying <br/> <span class="text-[27px] md:text-[35px]">Mechanical Engineering.</span>
        </p>
      </div>
    </main>
    <main
      class="flex flex-row items-center justify-between mx-9 md:flex md:flex-row md:items-center md:mx-[100px] md:mt-35 md:mb-10"
    >
      <button
        ><Image class="hidden-mobile"
          src={leftSlider}
          height={50}
          width={50}
          alt="Display img slider"
        /></button
      >
      <Image class="md:hidden"
        src={display_img_mobile}
        height={350}
        width={350}
        alt="Display Item Mobile"
        />
      <div class="hidden-mobile md:mx-10 md:w-full md:flex md:justify-center md:bg-[#D9D9D942] md:rounded-[16px] md:px-[10px] md:py-[10px] md:shadow-xl">
        <div class="md:w-full md:flex md:justify-center md:bg-[#000000] md:rounded-[8px]">
        <Image
        src={display_img_mobile}
        height={350}
        width={350}
        alt="Display Item"
        />
      </div></div>
      <button
        ><Image class="hidden-mobile"
          src={rightSlider}
          height={50}
          width={50}
          alt="Display img slider"
        /></button
      >
    </main>

    <Footer />
  </body>
</html>

<style>
  .left {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: 'Playfair Display Variable', serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.81px;
  }
  .right {
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: 'Playfair Display Variable', serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.66px;
  }

  .right span {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: 'Playfair Display Variable', serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.66px;
  }
  .right span1 {
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: 'Playfair Display Variable', serif;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.66px;
  }
  @media (max-width: 768px) {
        .hidden-mobile {
          display: none;
        }
      }
</style>
