---
import Image from "astro/components/Image.astro";

import BaseLayout from "../layouts/baselayout.astro";
import type { Crumb } from "../utils/types";

import diamond from "../imgs/renders/diamond.png"
import arc_reactor from "../imgs/renders/arc_reactor.png"
import moon from "../imgs/renders/moon.png"
import thevoid from "../imgs/renders/thevoid.png"
import dollar from "../imgs/renders/100Dollars.png"
import percentage from "../imgs/renders/percentage.png"
import RenderPostCard from "../components/render/RenderPostCard.astro";

const breadcrumbs: Array<Crumb> = [{ title: "renders", href: "/renders/" }];
---

<BaseLayout title="renders" current="renders" {breadcrumbs} >
    <div class="flex flex-col space-y-4 md:space-y-10 md:w-full">
        <div class="flex flex-col space-y-2 md:space-y-5">
            <h1 class="font-title text-[25px] md:text-[30px] tracking-[-0.8px] uppercase">My Blender Creations</h1>
            <p class="font-para text-[14px] md:text-[18px]">Welcome to my Renders page! Here, you'll find a showcase of the stunning visualizations I've crafted using Blender.</p>
        </div>
        <hr class="border-LM-Secondary dark:border-DM-Secondary" />
        <RenderPostCard title="Nature's Gem" url={diamond} pubDate={new Date("2024-02-24")}/>
        <RenderPostCard title="The Void" url={thevoid} pubDate={new Date("2024-05-08")}/>
        <RenderPostCard title="Moon" url={moon} pubDate={new Date("2024-05-14")}/>
        <RenderPostCard title="Swirling Spheres" url={percentage} pubDate={new Date("2022-09-11")}/>
    </div>
</BaseLayout>
<style>
    hr {
    display: block;
    border-width: 1px;
    opacity: 0.36;
    border-radius: 2px;
  }
  </style>