---
import BaseLayout from "../layouts/baselayout.astro";
import type { Crumb } from "../utils/types";
import RenderPostCard from "../components/render/RenderPostCard.astro";
import { renders } from "../data/renders.ts";

const title = "yas / renders";
const current = "renders";
const breadcrumbs: Array<Crumb> = [{ title: "renders", href: "/renders/" }];
---

<BaseLayout title={title} current={current} {breadcrumbs}>
    <div class="flex flex-col space-y-5 mb-2 md:space-y-8 md:w-full md:mb-4">
        <div class="flex flex-col space-y-2 md:space-y-4">
            <h1 class="font-title uppercase text-[20px] tracking-[-0.8px] md:text-[25px]">
                My Blender Creations
            </h1>
            <p class="font-para text-[14px] md:text-[17px]">
                Welcome to my Renders page! Here, you'll find a showcase of the
                stunning visualizations I've crafted using Blender.
            </p>
        </div>
        <hr class="border-LM-Secondary dark:border-DM-Secondary border-[1px] opacity-[0.36] transition"/>
        <main class="flex flex-col space-y-5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-3">
            { renders.map((render) => (
                <RenderPostCard title={render.title} href={render.href} pubDate={new Date(render.pubDate)} description={render.description} />
            ) )}
        </main>
    </div>
</BaseLayout>
