---
import { footerLinks} from "../data/footerLinks.ts";
import { Image } from "astro:assets";
import yash from "../imgs/yash.svg";
import "@fontsource/ibm-plex-sans-hebrew";
---

<footer class="mb-5 md:my-5">
  <hr class="invisible md:visible md:bg-[#e0e0e0] md:mx-[100px]"></hr>
    <nav class="hidden md:mx-[120px] md:mt-4 md:flex md:flex-row md:items-center md:justify-between">
        <div class="hidden md:flex md:flex-row md:items-center md:justify-between md:space-x-2">
          <a href="/"> <Image src={yash} alt="Personal Logo" height={35} width={55} /> </a>
          <p class="text-[20px]">designed and developed by <span class="text-[20px]">Yash Sharma</span></p>
        </div>
        <div class="flex flex-row items-center justify-between space-x-3 md:flex md:flex-row md:items-center md:justify-between md:space-x-10">
          <div class="flex flex-row items-center justify-between space-x-4 md:flex md:flex-row md:items-center md:justify-between md:space-x-5"> { footerLinks.map( (footerLink) => ( <li class="list-none"> <a class="text-[#000000] text-[18px] md:text-[20px]" href={footerLink.href}> {footerLink.title} </a> </li> ) ) } </div>
        </div>
    </nav>
    <nav class="md:hidden mx-[34px] my-[24px]">
        <div class="flex flex-row items-center justify-between space-x-4 md:flex md:flex-row md:items-center md:justify-between md:space-x-5"> { footerLinks.map( (footerLink) => ( <li class="list-none"> <a class="text-[#000000] text-[18px] md:text-[20px]" href={footerLink.href}> {footerLink.title} </a> </li> ) ) } </div>
    </nav>
</footer>
<style>

  li a {
    color: #000000;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.05px;
  }
  p span {
    color: var(--Light-Mode-LM---Logo, #0b7da5);
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.05px;
  }
  p {
    color: #000000;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.05px;
  }
  hr {
    display: block;
    border-style: inset;
    opacity: 0.36;
  }
</style>
