---
import { Image } from "astro:assets";

import yash from "../imgs/yash.svg";
import { footerLinks } from "../data/footerLinks.ts";
---

<footer class="mob-footer w-full">
  <hr class="border-LM-Secondary dark:border-DM-Secondary border-[1px] opacity-[0.36] rounded-sm invisible md:visible md:mx-[90px]" />
    <nav class="hidden md:mx-[100px] md:flex md:flex-row md:items-center md:justify-between md:my-2 xl:mx-[100px] xl:my-5 xl:flex xl:flex-row xl:items-center xl:justify-between">
        <div class="hidden md:flex md:flex-col md:items-start md:justify-between xl:flex xl:flex-row xl:items-center xl:justify-between xl:space-x-2 xl:space-y-0">
          <a href="/"> <Image src={yash} alt="Personal Logo" height={50} width={50} /> </a>
          <p class="font-title tracking-[-0.4px] font-medium md:text-[16px] xl:text-[18px] text-LM-Title dark:text-DM-Title">Designed and developed by <span class="text-LM-Logo dark:text-DM-Logo">Yash Sharma</span></p>
        </div>
          <div class="flex flex-row items-center justify-between space-x-4 xl:flex xl:flex-row xl:items-center xl:justify-between xl:space-x-5"> { footerLinks.map( (footerLink) => ( <li class="list-none"> <a class="text-LM-Title hover:text-LM-Para dark:text-DM-Title dark:hover:text-DM-Para text-[16px] md:text-[18px] xl:text-[18px]" href={footerLink.href}> {footerLink.title} </a> </li> ) ) } </div>
    </nav>
    <nav class="md:hidden xl:hidden mx-[35px] my-[24px]">
        <div class="flex flex-row items-center justify-between"> { footerLinks.map( (footerLink) => ( <li class="list-none"> <a class="text-LM-Title font-title font-[100] tracking-[-1px] hover:text-LM-Para dark:text-DM-Title dark:hover:text-DM-Para text-[18px]" href={footerLink.href}> {footerLink.title} </a> </li> ) ) } </div>
    </nav>
</footer>

<style>
  hr {
    display: block;
    opacity: 0.36;
    border-radius: 2px;
  }
</style>
