---
import { footerLinksContact } from "../data/footerLinks.ts";
import { footerLinksPortfolio } from "../data/footerLinks.ts";
import { Image } from "astro:assets";
import yash from "../imgs/yash.svg";
import "@fontsource/ibm-plex-sans-hebrew";
---

<div>
  <hr />
  <div class="mb-[45px] mt-[15px] mx-[75px]">
    <nav class="flex flex-row items-center justify-between">
      <div class="flex flex-row justify-start space-x-2 mx-[35px]">
        <a href="/"
          ><Image src={yash} alt="Personal Logo" height={30} width={50} /></a
        >
        <p>
          designed and developed by <span>yash sharma</span>
        </p>
      </div>
      <!-- <p class="mx-[35px]">
      designed and developed by <span>yash sharma</span>
    </p> -->
      <div class="flex flex-row space-x-[50px] mr-[35px]">
        <!-- <div class="flex flex-col items-center space-y-2"> -->
        <!-- <p>Contacts</p> -->
        <div class="flex flex-row items-center space-x-[20px]">
          {
            footerLinksContact.map((footerLink) => (
              <li class="list-none">
                <a class="text-[#000000]" href={footerLink.href}>
                  {footerLink.title}
                </a>
              </li>
            ))
          }
        </div>
        <!-- </div> -->
        <!-- <div class="flex flex-col items-center space-y-2"> -->
        <!-- <p>Portfolio</p> -->
        <div class="flex flex-row items-center space-x-[20px]">
          {
            footerLinksPortfolio.map((footerLink) => (
              <li class="list-none">
                <a class="text-[#000000]" href={footerLink.href}>
                  {footerLink.title}
                </a>
              </li>
            ))
          }
        </div>
        <!-- </div> -->
      </div>
    </nav>
  </div>
</div>
<style>
  li a {
    color: #000000;
    font-family: "IBM Plex Sans Hebrew";
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.05px;
  }
  p span {
    color: var(--Light-Mode-LM---Logo, #0b7da5);
    font-family: "IBM Plex Sans Hebrew";
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.05px;
  }
  p {
    color: #000000;
    font-family: "IBM Plex Sans Hebrew";
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.05px;
  }
  hr {
    color: #e0e0e0;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border-style: inset;
    stroke-width: 5px;
    opacity: 0.36;
  }
</style>
