---
const siteData = {
    siteUrl: "https://yashs.vercel.app/", // Always put "/" at the end of the URL
    author: "yashsharma",
    desc: "A personal website from which I connect to the world. I write blogs about tech, life, astronomy and mathematics.",
    title: "yash sharma's website",
    ogImage: "favicon.ico",
    keywords:
        "Personal website, landing page, developer, home, astronomy, blogs, technology, mathematics",
};

interface HeadProps {
    title?: string;
    description?: string;
    author?: string;
    keywords?: string;
    url?: string;
    twitterhandle?: string;
    image?: string;
}

const {
    title,
    description,
    author = siteData.author,
    keywords,
    url,
    image,
} = Astro.props as HeadProps;

const siteTitle = title ?? siteData.title;
const metaDescription = description ? description : siteData.desc;
const metaKeywords = keywords ? keywords : siteData.keywords;
const siteURL = url ?? siteData.siteUrl;
const imagePreview = image ?? `${siteURL}${siteData.ogImage}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Open Graph / Facebook -->
<meta property="og:url" content={siteURL} />
<meta property="og:image" content={imagePreview} />
<meta property="og:site_name" content={siteURL} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={metaDescription} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="keywords" content={metaKeywords} />
<meta name="author" content={author} />
<link rel="sitemap" href="/sitemap-index.xml" />

<script is:inline src="https://cloud.umami.is/script.js" data-website-id="35cc75aa-cc65-4627-96b1-db51b9fc3acd"></script>

<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css"
      integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc"
      crossorigin="anonymous"
    />

<!-- Theme Meta Tags -->
<meta name="robots" content="index" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
