---
import { Image } from "astro:assets";
import { navLinks } from "../data/navLinks";

import yash from "../imgs/yash.svg";
import LM_Menu from "../imgs/LM_menu.svg";
import DM_Menu from "../imgs/DM_menu.svg";
import ThemeIcon from "./ThemeToggle.astro";

import "@fontsource/ibm-plex-sans-hebrew";
import MobileNavLinks from "./MobileNavLinks.astro";
import { Icon } from "astro-icon/components";

interface NavProps {
  current: string;
}

const { current } = Astro.props as NavProps;
---
<header>
  
  <nav class="hidden bg-LM-Title-Bar dark:bg-DM-Title-Bar px-4 py-3 mx-5 rounded-xl md:flex md:flex-row md:items-center md:justify-between md:px-5 md:py-3 md:rounded-[20px] md:mx-20">
    <a class="w-[75px] md:w-[95px]" href="/"><Image src={yash} alt="Personal Logo"/></a>
    <div class="hidden md:flex md:flex-row md:items-center md:space-x-7 xl:flex xl:flex-row xl:items-center xl:space-x-11">
      { navLinks.map((navLink) => ( <li class="list-none"> <a class:list={[
        navLink.title === current ? "text-LM-Nav-Selected dark:text-DM-Nav-Selected" : "text-LM-Nav-Unselected dark:text-DM-Nav-Unselected",
        "hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected",
        "font-title text-[18px]"
      ]} href={navLink.href}> {navLink.title} </a> </li> )) }
      <ThemeIcon/>
    </div>
  </nav>
  <nav class="md:hidden nav-bar flex flex-row itmes-center justify-between bg-LM-Title-Bar dark:bg-DM-Title-Bar px-[19px] py-3 mx-5 rounded-xl">
    <a class="w-[75px] md:w-[95px]" href="/"><Image src={yash} alt="Personal Logo"/></a>
    <div class="flex flex-row justify-between items-center space-x-[20px]">
      <ThemeIcon/>
      <!-- vanilla JS tuto https://www.freecodecamp.org/news/how-to-build-a-responsive-navbar-with-a-toggle-menu-using-flexbox-3438e1d08783/ -->
      <button
        class="flex flex-row justify-between items-center text-LM-Nav-Unselected hover:text-LM-Nav-Selected"
        id="mob-nav-expand"><Icon name="menuIcon" size={25} class="text-LM-Secondary dark:text-DM-Secondary"/>
      </button>
      
    </div>
  </nav>
  <nav class="mob-nav-expanded hidden sm:hidden">
    <MobileNavLinks current={current} />
  </nav>
</header>

<script>
  // hide everything except for the new nav compoenent on clicking more
  document.getElementById("mob-nav-expand")?.addEventListener("click", () => {
  document.querySelector("main")?.classList.toggle("hidden");
  document.querySelector(".mob-footer")?.classList.toggle("hidden");
  document.querySelector(".nav-bar")?.classList.toggle("hidden");
  document.querySelector(".mob-nav-compact")?.classList.toggle("hidden");
  document.querySelector(".mob-nav-expanded")?.classList.toggle("hidden");
  });
</script>

<style>
  li a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.05px;
  }
</style>
