---
import { Image } from "astro:assets";
import { navLinks } from "../data/navLinks";

import yash from "../imgs/yash.svg";
import LMtoDM from "../imgs/LMtoDM.svg";
import menu from "../imgs/Menu.svg"

import "@fontsource/ibm-plex-sans-hebrew";
import type { navItems } from "../utils/types";

interface NavProps{
  current: string;
  navitems: navItems[];
}
const {current, navitems} = Astro.props as NavProps
---
<a href="/"><Image src={yash} alt="Personal Logo" height={51} width={79} /></a>
  <div class="hidden md:flex md:flex-row md:items-center md:space-x-7 xl:flex xl:flex-row xl:items-center xl:space-x-11">
    {
      navLinks.map((navLink) => (
        <li class="list-none">
          <a class="text-LM-Nav-Unselected hover:text-LM-Nav-Selected" href={navLink.href}>
            {navLink.title}
          </a>
        </li>
      ))
    }
    <button class="mt-[7px]">
      <Image
        src={LMtoDM}
        height={30}
        width={30}
        alt="Light mode to Dark Mode switcher"
      />
    </button>
  </div> 
  <div class=" flex flex-row items-center space-x-[24px] md:hidden">
    <button class="mt-[7px]"
        ><Image
          src={LMtoDM}
          height={30}
          width={30}
          alt="Light mode to Dark Mode switcher"
        /></button
      >
      <button
      ><Image
        src={menu}
        height={17}
        width={27}
        alt="Menu"
      /></button
    > 
    </div>
  </nav>
  <!-- Mobile Nav -->
  <!-- <nav class="md:hidden mob-nav-compact flex flex-col items-center bg-[#e0e0e0] rounded-[15px] py-[40px]">
    <div class="flex flex-col ">
    <Image/>
      <ul class="ul-nav-mob flex flex-col space-y-10 justify-between w-full">
        {
          navLinks.map((navLink) => (
            <li>
              <a class="text-[#67a0b5] hover:text-[#007099]" href={navLink.href}>
                {navLink.title}
              </a>
            </li>
          ))
        }
    </ul>
  </nav> -->


<style>
  li a {
    font-family: "IBM Plex Sans Hebrew";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
  }
</style>
