---
import { Image } from "astro:assets";
import { navLinks } from "../data/navLinks";

import yash from "../imgs/yash.svg";
import LM_Menu from "../imgs/LM_menu.svg";
import DM_Menu from "../imgs/DM_menu.svg";
import ThemeIcon from "./ThemeToggle.astro";

import "@fontsource/ibm-plex-sans-hebrew";

interface NavProps {
  current: string;
}
const { current } = Astro.props as NavProps;
---

<header class="flex flex-row itmes-center justify-between bg-LM-Title-Bar dark:bg-DM-Title-Bar px-6 py-4 mx-5 rounded-[15px] md:flex md:flex-row md:items-center md:justify-between md:px-7 md:py-5 md:rounded-[20px] md:mx-20">
  <a href="/"><Image src={yash} alt="Personal Logo" height={65} width={100} /></a>
  <div class="hidden md:flex md:flex-row md:items-center md:space-x-7 xl:flex xl:flex-row xl:items-center xl:space-x-11">
    { navLinks.map((navLink) => ( <li class="list-none"> <a class:list={[
      navLink.title === current
          ? "text-LM-Nav-Selected dark:text-DM-Nav-Selected"
          : "text-LM-Nav-Unselected dark:text-DM-Nav-Unselected",
      "hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected",
  ]} href={navLink.href}> {navLink.title} </a> </li> )) }
    <ThemeIcon isMobile={true} key={0} />
  </div>
  <div class="flex flex-row items-center space-x-6 md:hidden">
    <ThemeIcon isMobile={false} key={1} />
    <Image class="dark:hidden h-[17px]" src={LM_Menu} alt="Menu"/> 
    <Image class="dark:h-[17px] hidden" src={DM_Menu} alt="Menu"/>
  </div>
</header>

<style>
  li a {
    font-family: "IBM Plex Sans Hebrew";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.05px;
  }
</style>
