---
import { Image } from "astro:assets";
import { navLinks } from "../data/navLinks";

import yash_LM from "../imgs/yash_LM.svg";
import yash_DM from "../imgs/yash_DM.svg";
import ThemeIcon from "./ThemeToggle.astro";

import MobileNavLinks from "./MobileNavLinks.astro";
import { Icon } from "astro-icon/components";
import "../styles/styles.css";

interface NavProps {
  current: string;
}

const { current } = Astro.props as NavProps;
---
<header style={`view-transition-name: header`}>

  <!-- DESKTOP NAVIGATION -->
  <nav class="hidden transition md:flex md:flex-row md:items-center md:justify-between md:mx-8 md:mt-5 md:mb-3">
      <a class="mt-2 dark:hidden" href="/"> <Image src={yash_LM} alt="yash's website logo" width={73} height={48} loading="eager" class:list={[ "select-none", current === "home" ? "drop-shadow-glowlight dark:drop-shadow-glowdark" : "", ]} /> </a>
      <a class="mt-2 invisible dark:visible" href="/"> <Image src={yash_DM} alt="yash's website logo" width={73} height={48} loading="eager" class:list={[ "select-none", current === "home" ? "drop-shadow-glowlight dark:drop-shadow-glowdark" : "", ]} /> </a>
      <div class="hidden md:flex md:flex-row md:items-center md:space-x-5 xl:flex xl:flex-row xl:items-center xl:space-x-8">
          { navLinks.map((navLink) => ( <li class="list-none"> <a class:list={[
            navLink.title === current ? "text-LM-Nav-Selected dark:text-DM-Nav-Selected transition" : "text-LM-Nav-Unselected dark:text-DM-Nav-Unselected transition",
            "hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected transition",
            "font-title lowercase font-normal tracking-[-0.1px] md:text-[16px] xl:text-[17px]",
          ]} href={navLink.href}> {navLink.title} </a> </li> )) }
        <ThemeIcon class:list={"ml-8"}/>
      </div>
  </nav>

  <!-- MOBILE NAVIGATION COLLAPSED -->
  <nav class="md:hidden nav-bar flex flex-row itmes-center justify-between py-2 mx-8 rounded-xl transition" transition:persist>
      <a class="mt-2 dark:hidden" href="/"> <Image src={yash_LM} alt="yash's website logo" width={73} height={48} loading="eager" class:list={[ "select-none", current === "home" ? "drop-shadow-glowlight dark:drop-shadow-glowdark" : "", ]} /> </a>
      <a class="mt-2 invisible dark:visible" href="/"> <Image src={yash_DM} alt="yash's website logo" width={73} height={48} loading="eager" class:list={[ "select-none", current === "home" ? "drop-shadow-glowlight dark:drop-shadow-glowdark" : "", ]} /> </a>
      <div class="flex flex-row justify-between items-center space-x-[20px]">
          <ThemeIcon/>
          <button class="flex flex-row justify-between items-center text-LM-Nav-Unselected hover:text-LM-Nav-Selected" id="mob-nav-expand">
              <Icon name="menuIcon" size={25} class="text-LM-Secondary dark:text-DM-Secondary"/>
          </button>
      </div>
  </nav>

  <!-- MOBILE NAVIGATION EXPANDED -->
  <nav class="mob-nav-expanded hidden sm:hidden">
    <MobileNavLinks current={current} />
  </nav>

</header>

<script>
  // hide everything except for the new nav compoenent on clicking more
  document.getElementById("mob-nav-expand")?.addEventListener("click", () => {
  document.querySelector("main")?.classList.toggle("hidden");
  document.querySelector(".mob-footer")?.classList.toggle("hidden");
  document.querySelector(".nav-bar")?.classList.toggle("hidden");
  document.querySelector(".mob-nav-compact")?.classList.toggle("hidden");
  document.querySelector(".mob-nav-expanded")?.classList.toggle("hidden");
  });
</script>
